<div class="navbar">
  <div >
    <a [routerLink]="['/products']" [queryParams]="{subCategory:'shirt'}">
    <img src="../../../assets/images/category clothes/Shirts.webp" alt="">
    </a>
  </div>
  <div>
    <a [routerLink]="['/products']" [queryParams]="{subCategory:'jeans'}">
    <img src="../../../assets/images/category clothes/Jeans.webp" alt="">
    </a>
  </div>
  <div>
    <a [routerLink]="['/products']" [queryParams]="{subCategory:'t-shirt'}">
    <img src="../../../assets/images/category clothes/T-Shirts.webp" alt="">
    </a>
  </div>
  <div>
    <a [routerLink]="['/products']" [queryParams]="{subCategory:'saree'}">
    <img src="../../../assets/images/category clothes/Sarees.webp" alt="">
    </a>
  </div>
  <div>
    <a [routerLink]="['/products']" [queryParams]="{subCategory:'trouser'}">
    <img src="../../../../assets/images/category clothes/Trousers.webp" alt="">
    </a>
  </div>
  <div>
    <a [routerLink]="['/products']" [queryParams]="{subCategory:'track-pant'}">
    <img src="../../../../assets/images/category clothes/Track-Pants.webp" alt="">
    </a>
  </div>
  <div>
    <a [routerLink]="['/products']" [queryParams]="{subCategory:'Kurta'}">
    <img src="../../../assets/images/category clothes/Kurtas.webp" alt="">
    </a>
  </div>
  <div>
    <a [routerLink]="['/products']" [queryParams]="{subCategory:'shirt'}">
    <img src="../../../assets/images/category clothes/Teens-Wear.webp" alt="">
    </a>
  </div>
  <div>
    <a [routerLink]="['/products']" [queryParams]="{subCategory:'saree'}">
    <img src="../../../assets/images/category clothes/Sarees.webp" alt="">
    </a>
  </div>
  <div>
    <a [routerLink]="['/products']" [queryParams]="{subCategory:'jeans'}">
    <img src="../../../assets/images/category clothes/Jeans.webp" alt="">
    </a>
  </div>
</div>
