<div class="ml-5 mr-5 mb-2 mt-2">
  <div class="border">
    <div class="ml-3 mr-3">
      <div class="mt-3">
        <h5 class="text-muted">My Wishlist ({{0 || productCount}})</h5>
      </div>
      <hr>
      <div *ngFor="let product of products">
        <div class="d-flex">
          <div>
            <a [routerLink]="['/product',product.id]"><img class="rounded" [src]="product.imageUrl"></a>
          </div>
          <div class="ml-3 mr-3 d-flex justify-content-between" style="width: 100%;">
            <div>
              <h5 class="card-title text-muted">{{product.brandName}}</h5>
              <p class="card-text">{{product.description}}</p>
              <div class="d-flex">
                <p class="card-text"><b>{{product.price-(product.price*(product.discountPercentage/100))| currency:"INR"}}</b></p>
                <p class="card-text ml-2 text-muted"><s>{{product.price | currency:"INR"}}</s></p>
                <p class="card-text ml-2" style="color: #388e3c;"><small><b>{{product.discountPercentage}}% off</b></small></p>
              </div>
            </div>
            <div>
              <a class="text-muted" style="cursor: pointer;" (click)="onDeleteClick(product.favoriteId)"><mat-icon>delete</mat-icon></a>
            </div>
          </div>
        </div>
        <div>
          <hr>
        </div>
      </div>
    </div>
  </div>
</div>
