<div class="offer-div">
  <div style="margin: 50px 0px;">
    <h2>DISCOUNT ON TOP BRANDS</h2>
  </div>
  <div class="offer-cards">
    <div class="card" style="width: 18rem;">
      <a [routerLink]="['/products']" [queryParams]="{brand:'Levis'}">
        <img class="card-img-top" src="../../../assets/images/Clothes Brand/Levis.webp" alt="Card image cap">
      </a>
    </div>
    <div class="card" style="width: 18rem;">
      <a [routerLink]="['/products']" [queryParams]="{brand:'Puma'}">
        <img class="card-img-top" src="../../../assets/images/Clothes Brand/Puma.webp" alt="Card image cap">
      </a>
    </div>
    <div class="card" style="width: 18rem;">
      <a [routerLink]="['/products']" [queryParams]="{brand:'Roadster'}">
        <img class="card-img-top" src="../../../assets/images/Clothes Brand/Roadster.webp" alt="Card image cap">
      </a>
    </div>
    <div class="card" style="width: 18rem;">
      <a [routerLink]="['/products']" [queryParams]="{brand:'Tommy Hilfiger'}">
        <img class="card-img-top" src="../../../assets/images/Clothes Brand/Tommy-Hilfiger.webp" alt="Card image cap">
      </a>
    </div>
    <div class="card" style="width: 18rem;">
      <a [routerLink]="['/products']" [queryParams]="{brand:'USPA'}">
        <img class="card-img-top" src="../../../assets/images/Clothes Brand/USPA.webp" alt="Card image cap">
      </a>
    </div>
    <div class="card view-all-card" style="width: 18rem;">
      <a href="#" class="btn btn-primary">
        View All
      </a>
    </div>
  </div>
</div>
